body {
  background: #8E0E00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 0;
  font-family:yellowtail;
  color:white;
}
h1 
{ 
  font-family: yellowtail; 
  font-size: 28px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px; 
} 
  h3 
  { font-family: yellowtail; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 15.4px; 
  } 
  p { font-family: yellowtail; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px; 
  } 
    blockquote { 
      font-family: yellowtail; 
      font-size: 21px; 
      font-style: normal; 
      font-variant: normal; 
      font-weight: 400; 
      line-height: 30px; 
    } 
    pre 
    { 
      font-family: yellowtail; 
      font-size: 13px; 
      font-style: normal; 
      font-variant: normal; 
      font-weight: 400; 
      line-height: 18.5714px; } 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
